.center {
  position: relative;
  margin: 0 auto;
  margin-top: -50px;
  height: 100vh;
  overflow: hidden;
  background-color: #fff;
}

@media only screen and (min-width: 320px) {
  .center {
    width: 100%;
  }
}

@media only screen and (min-width: 480px) {
  .center {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .center {
    width: 100%;
  }
}

@media only screen and (min-width: 992px) {
  .center {
    width: 960px;
  }
}

@media only screen and (min-width: 1200px) {
  .center {
    width: 960px;
  }
}

