* {
	margin: 0;
	padding: 0;
}

html {
  font-size:62.5%;
}

body {
}

header {
	height: 150px;
	text-align: center;
	display: none;
}

main {
	position: relative;
	margin: 0 auto;
	overflow: hidden;
	padding: 15px;
}

main>footer {
	clear: both;
	position: relative;
	top: 15px;
}

nav {
}

figure {
	margin-top: 15px;
}

footer {
	height: 140px;
}