/* All pages */

#product-nav {
  float: left;
  width: 250px;
  height: 300px;
}


/* Start front page */


#slider {
  overflow: hidden;
  float: left;
  margin: 10px;
  height: 300px;
  width: 400px;
  background-color: #ccc;
}

#discount-product {
  width: 250px;
  overflow: hidden;
  float: left;
  margin: 10px;
  height: 300px;
  background-color: #ccc;
}

#left-long-banner {
  height: 100px;
}

#right-long-banner {
  height: 100px;
}

#popular-product {
  overflow: hidden;
  float: left;
  margin: 10px;
  height: 300px;
  width: 400px;
  background-color: #ccc;
}

#top-article {
  float: left;
  width: 400px;
}

/* End front page */
