.content-area {
	margin-top: 1.5em;
	margin-left: 1.5em;
	margin-bottom: 1.5em;
	min-height: 700px;
	width: 100%;
}

.inline {
	display: inline;
}

.page-nav {
	height: 50px;
}

.page-nav-left {
	width: 26em;
}

.page-nav-middle {
	width: 69.7em;
}

.page-nav-right {
	width: 18em;
}

#product-nav {
	margin-top: 0px;
	min-height: 30em;
}

#slider {
	display: none;
}

.banner {
	height: 100px;
}

.popular {
	margin-left: 0px;
	margin-top: 1.5em;
	max-width: 33em;
	height: 300px;
}

.product {
	margin-top: 1.5em;
	max-width: 33em;
	height: 300px;
}

.product-image {
	max-width: 13em;
}

footer > nav > ul {
	float:left;
	max-width:25em;
	margin-left: 9em;

}


/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
	#slider {
		max-width: 67em;
		height: 285px;
		display: block;
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	/**/
	header {
		display: block;
	}
	main {
		margin-top: -60px;
		margin-bottom: -90px;
		min-height: 1000px;
		max-width: 114em;
	}
	#product-nav {
		max-width: 26em;
	}
	#slider {
		margin-left: 1.5em;
	}
	.banner {
		max-width: 57em;
	}
	.product {
		margin-top: 1.5em;
		margin-left: 1.5em;
	}
	.discount {
		width: 18em;
		height: 285px;
	}
	.popular {
		margin-left: 0px;
		max-width: 26em;
	}
	.article {
		max-width: 86.5em;
		margin-left: 1.5em;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}