
body {
  background-color: azure;
}

header {
  background-color: #ffc;
}

main {
  background-color: cadetblue;
}

main>footer {
}

nav {
  background-color: brown;
}

figure {
  background-color: #fff;
}

footer {
  background-color: olive;
}

/* specials */

#slider {
  background-color: #fff;
}

.content-area {
  background-color: #fff;
}

.product {
  background-color: #fff;
}

.page-nav-left {
  background-color: #000;
  color: #fff;
}

.page-nav-middle {
  background-color: #ccc;
  color: #fff;
}

.page-nav-right {
  background-color: #000;
  color: #fff;
}