
body {
  background-color: azure;
}

header {
  background-color: #ffc;
}

main {
  background-color: cadetblue;
}

main>footer {
}

nav {
  background-color: brown;
}

figure {
  background-color: #fff;
}

footer {
  background-color: olive;
}

/* specials */

#slider {
  background-color: #fff;
}

.content-area {
  background-color: #fff;
}

.product {
  background-color: #fff;
}