header {
	display: block;
}

main {
	margin-top: -6em;
	margin-bottom: -9em;
	min-height: 100em;
	max-width: 114em;
}

.product-nav {
	max-width: 26em;
	display:block;
}

.slider {
	margin-left: 1.5em;
	max-width: 67em;
}

.banner {
	max-width: 57em;
}

.product {
	margin-top: 1.5em;
	margin-left: 1.5em;
}

.discount {
	width: 18em;
	height: 30em;
	display:block;
}

.popular {
	margin-left: 0px;
	max-width: 26em;
}

.article {
	max-width: 86.5em;
	margin-left: 1.5em;
}