/**/
@media only screen and (min-width : 670px) {
	main {
		max-width: 67em;
	}
	.slider {
		max-width: 67em;
	}
	.popular {
		max-width: 26em;
	}
	.article {
		margin-left: 1.5em;
		max-width: 39.5em;
	}
}