/**/
@media only screen and (min-width : 700px) {
	main {
		max-width: 67em;
	}
	.product {
		margin-left: 1.5em;
		max-width: 31.3em;
	}
	.slider {
		max-width: 67em;
	}
	.product-popular  {
		max-width: 23em;
	}
	.article {
		margin-left: 1.5em;
		max-width: 42.5em;
	}
}