.content-area {
  margin-top: 1.5em;
  margin-left: 1.5em;
  margin-bottom: 1.5em;
  min-height: 700px;
  width: 100%;
}

.inline {
  display: inline;
}

.page-nav {
  height: 50px;
}

.page-nav-left {
  display: inline;
  width: 26em;
}

.page-nav-middle {
  display: inline;
  width: 69.7em;
}

.page-nav-right {
  display: inline;
  width: 18em;
}

.product-nav {
  margin-top: 0px;
  max-width:26em;
  min-height: 30em;
}

.slider {
	max-width: 67em;
}

.banner {
  height: 100px;
}

.popular {
  margin-left: 0px;
  margin-top: 1.5em;
  max-width: 33em;
  height: 300px;
}

.product {
  margin-top: 1.5em;
  max-width: 33em;
  height: 300px;
}

.product-image {
  max-width: 13em;
}

footer>nav>ul {
  float: left;
  max-width: 25em;
  margin-left: 9em;
}

.logos {
  width: 100%;
  background-color: #fff;
  height: 80px;
  overflow: hidden;
}

.logo {
  max-width: 150px;
  max-height: 75px;
  margin-left: 10em;
}

@media only screen and (min-width : 975px) {

  main {
    max-width:945px;
  }

  .slider{
    margin-left:1.5em;
  }

}