header {
	display: block;
}

main {
	margin-top: -6em;
	margin-bottom: -9em;
	min-height: 100em;
	max-width: 114em;
}

.product-nav {
	max-width: 26em;
	display: block;
}

.product {
	margin-top: 1.5em;
	margin-left: 1.5em;
	max-width: 26.75em;
}

/** front page **/
.slider {
	margin-left: 1.5em;
	max-width: 67em;
}

.banner {
	max-width: 57em;
}

.products {
	margin-left: 1.5em;
	max-width: 86.5em;
}

.product-discount {
	 margin-left: 1.5em;
	width: 18em;
	height: 30em;
	display: block;
}

.product-popular {
	margin-left: 0px;
	max-width: 26em;
}

.article {
	max-width: 86.5em;
	margin-left: 1.5em;
}

.product-page {
	margin-left: 1.5em;
	max-width: 86.5em;
	min-height: 65em;
}

.product-image-box {
	margin-left:1.5em;
	max-width: 33em;
}

.product-description {
	font-size: 2em;
	max-width: 25em;
}

.product-price {
	max-width: 37em;
}

.product-cart-button {
	max-width: 30em;
}

.product-related {
	max-width:26em;
}
