
body {
  background-color: azure;
}

header {
  background-color: #fff;
}

main {
  background-color: #f2f2f2;
}

main>footer {
	background-color: #ccc;
}

footer > nav {
  background-color: olive;
}


nav {
  background-color: brown;
}

figure {
  background-color: #fff;
}

footer {
  background-color: olive;
}

/* specials */

#slider {
  background-color: #fff;
}

.content-area {
  background-color: #aff;
}

.product {
  background-color: #fff;
}

.page-nav-left {
  background-color: #000;
  color: #fff;
}

.page-nav-middle {
  background-color: #fff;
  color: #fff;
}

.page-nav-right {
  background-color: #000;
  color: #fff;
}